@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Quicksand';
	box-sizing: border-box;
}

div.editor {
	font-family: "Source Code Pro", monospace;
}

/* Consistent and Standardized Scrollbar ? *laughs then cries* */
* {
	scrollbar-width: thin;
	scrollbar-color: #374151 #111827;
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	@apply w-2;
}
::-webkit-scrollbar-thumb {
	@apply bg-slate-700;
}

html {
	scroll-behavior: smooth;
	@apply select-none;
}

body {
	text-rendering: optimizeSpeed;
	@apply antialiased;
}

.header-time {
	font-family: 'Fira Code', monospace;
}
